.group:hover>a {
    background-color: #0088cc !important;
    color: white !important;
}

.group:hover>a i {
    color: white !important;
    opacity: 1 !important;
}

.megamenu-panel {
    position: absolute;
    display: none;
}

.group:hover>.megamenu-panel {
    display: block;
}

/* БІЛИЙ ТРИКУТНИК - ПРАВИЛЬНО */
/* ✅ БІЛИЙ ТРИКУТНИК СТРІЛКА - ЦЕНТРОВАНИЙ */
.group:hover .megamenu-panel::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    /* 49px / 2 */
    width: 0;
    height: 0;
    border-right: 12px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 10000;
}